---
import { Image } from 'astro:assets';
const {
  src = '/images/climate-change.webp',
  alt = 'Cover of the book',
  eager = true,
} = Astro.props;

const sizes = "(min-width: 768px) 340px, 80vw";
---

<figure>
  <div class="w-full max-w-[240px] md:max-w-[340px] mx-auto overflow-hidden rounded-2xl">
    <Image
      src={src}
      alt={alt}
      sizes={sizes}
      widths={[320, 480, 768, 1024]}
      width={768}
      height={1024}
      class="w-full h-full object-cover"
      loading={eager ? 'eager' : 'lazy'}
      priority={eager}
    />
  </div>
</figure>